<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tela de Cadastro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/css/style.css" />
  </head>
  <body>
    <form id="cadastrar" action="/">
      <div class="title">
        <h1><strong>C</strong>artão</h1>
      </div>
      <div class="wrapper">
        <label for="name">Digite o nome do titular</label>
        <input
          placeholder="digite o nome do titular"
          type="text"
          id="username"
          name="name"
          required
        />

        <label for="cpf-titular">CPF do titular</label>
        <input
          placeholder="Exemplo: xxx.xxx.xxx-xx"
          type="text"
          id="new-password"
          name="cpf-titular"
        pattern="\d{3}\.\d{3}\.\d{3}-\d{2}"
          required
        />

        <label class="labelPassword" for="input-number-card"
          >Número do cartão</label
        >
        <input
          placeholder="Digite o número do cartão"
          type="text"
          id="repeat-password"
          name="input-number-card"
          pattern="\d{4}\ \d{4}\ \d{4} \d{4}"
          required
        />
        <label for="input-date">Data de vencimento</label>
        <input
          type="month"
          id="email"
          name="input-date"
         

          required
        />

        <label for="cvc">CVC</label>
        <input type="text" name="cvc" id="" placeholder="Digite o CVC do cartão" required>

        
        
      
      <div class="btn-wrapper">
        <button class="btn">Enviar</button>
      </div>
    </form>

    <script src="../public/js/mainbundle.js"></script>
   
  </body>
</html>
